.offlineHeader {
  font-weight: 700;
  font-size: 1.406vw;
  margin-top: 4.167vh;
  margin-left: 4.375vw;
  @media (max-width: 639px) {
   font-size: 4.651vw;
   margin-top: 2.682vh;
   margin-bottom: 1.717vh;
   margin-left: 3.721vw;
  }
}
.cityNavbar {
  background: #f4f4f4;
}
.activeCity {
  font-weight: 600;
  color: #f09819;
  background: #ffffff;
  border-bottom: 3px solid #f09819;
}
.courseCard {
  width: 19.063vw;
  border: 1px solid #c2c2c4;
  background: #ffffff;
  border-radius: 6px;
}
.BranchCard {
  width: 19.063vw;
  border: 1px solid #c2c2c4;
  background: #ffffff;
  border-radius: 6px;
  @media (max-width: 639px) {
    width:100%;
  }
}
