.courseCard {
  width: 21.016vw;
  height: 55.028vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  @media (max-width: 639px) {
    width: 60.93vw;
    height: 38.841vh;
  }
  .cardStyle {
    //   width: 40%;
    //   height: auto;
    //   max-height: 418px;
    background: #ffffff 0% 0% no-repeat padding-box;
    box-shadow: 0px 0px 4px #00000029;
    border-radius: 16px;
    opacity: 1;
  }
}
.offlineScrollbar::-webkit-scrollbar {
  visibility: hidden;
}
.offlineScrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
