.OurCourse {
  .header {
    display: flex;
    justify-content: center;
    text-align: center;
    font: normal normal bold 33px/63px Poppins;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
  }

  .coursemain > article {
    display: flex;
    align-items: center;
    height: inherit;
    width: 90%;
    flex-wrap: wrap;
    margin: 0 auto;
  }
}
.courseScroll::-webkit-scrollbar {
  width: 5px !important;
  border-radius: 5px;
  visibility: hidden;
}

.courseScroll::-webkit-scrollbar-thumb {
  width: 5px !important;
  background-color: #a8a8a8;
  border-radius: 5px;
  visibility: hidden;
}

.courseScroll::-webkit-scrollbar-track {
  width: 5px !important;
  visibility: hidden;
}

.titleSpacing {
  letter-spacing: -0.5px;
}

.searchField[type="text"] {
  width: 130px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
  border-style: none;
  padding-top: 6px;
  padding-bottom: 6px;
}

.searchField[type="text"]:focus {
  width: 100%;
  border: 1px solid #bbbaba !important;
  outline: none !important;
}
.exploreCard {
  width: 21.016vw;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  @media (max-width: 639px) {
    width: 60.93vw;
    height: auto;
  }
  .cardStyle {
    //   width: 40%;
    //   height: auto;
    //   max-height: 418px;
    background: #ffffff 0% 0% no-repeat padding-box;
    box-shadow: 0px 0px 4px #00000029;
    border-radius: 16px;
    opacity: 1;
  }
}