.hireFromSection{
  background-image: url('../../public/hirefrombg.svg'), linear-gradient(180deg, rgba(255, 201, 151, 0.3) 0%, rgba(255, 255, 255, 0.76) 78.2%);
  background-repeat: no-repeat;
  height: 87vh;
  background-size: contain;
}
.textgradient{
  background: linear-gradient(96.77deg, #F09819 -28.03%, #FF512F 134.69%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}