.buttonSection {
  border: 1px solid #eceef2;
  border-radius: 0.313rem;
}
.activeButton {
  background: linear-gradient(159.73deg, #f7a54d 12.36%, #ef810e 83.19%);
  color: white;
  border-radius: 0.188rem;
  font-size: 0.813rem;
}
.passout-wrapper {
  position: relative;
}

.additional-years-list {
  list-style: none;
  position: absolute;
  top: 100%;
  right: 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 6.234vw;
}

.additional-years-list li {
  cursor: pointer;
  padding: 2px 10px 8px 10px;
  width: 100%;
}

.additional-years-list li:hover {
  background: #F098191F;

}


