.buttonSection {
  border: 1px solid #eceef2;
  border-radius: 0.313rem;
}
.activeButton {
  background: linear-gradient(159.73deg, #f7a54d 12.36%, #ef810e 83.19%);
  color: white;
  border-radius: 0.188rem;
  font-size: 0.813rem;
}
