.sidebarContainer{
  width: 14.844vw;
  background: #F6F6F6;
  box-shadow: 0px 0px 4px 0px #00000040;
}
.sideBarButton{
border-radius: 20px 0px 0px 20px;
background: linear-gradient(159.73deg, #F7A54D 12.36%, #EF810E 83.19%);
color: white;
}
.contentCard{
  box-shadow: 0px 0px 6px 0px #00000040;
  border-radius: 5px;
  
}
.imageCard{
  box-shadow: 0px 2px 6px 0px #00000040;
  border-radius: 5px; 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 1;
  background: white;
  margin: -1.125rem 0.25rem 0;
}
.studentName{
  color: #201C19;
font-size: 0.938rem;
}
.studentDetails{
  color: #201C19;
  font-size: 0.625rem;
}
.educationDetails{
  color: #A5A5A5;
font-size: 0.5rem;
}
.studentReview{
  color: #6F6E6E;
font-size: 0.625rem;
}
.iconContainer{
  width: 1.875vw;
  height: 1.875vw;
  border-radius:0.75rem;
  background: #FFFFFF;
  box-shadow: 0px 2px 4px 0px #00000029;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.25rem;
}
.imageBox{
  width: 6.797vw;
  height: 4.531vw;
  border-radius: 5px;
  background: #D9D9D9;

}