.placedCard {
  background: #002248;
  width: 17.969vw;
  height: 9.897vw;
  border-radius: 1rem;
  margin-top: 0.5rem;
}
.degreeCard {
  @extend .placedCard;
  background: #fff0f2;
  // width: 17.813vw;
  background-image: url(../../public/red_card.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right;
}
.nonItCard {
  @extend .placedCard;
  background: #f3f6ff;
  // width: 17.422vw;
  background-image: url(../../public/blue_card.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right;
}
.branchCard{
  @extend .placedCard;
  background: #FFF4F0;

}
.overviewCard{
  @extend .placedCard;
  background: #E4FFE8;

}
