.hover-underline-animation {
  position: relative;
  text-decoration: none;
}

.hover-underline-animation:hover{
    color: orangered;
}

.hover-underline-animation::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: orangered;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
  color: orange;
}
.courselist{
width:42vw;
}
@media only screen and (min-width: 1536px)and (max-width: 1919px) {
  .courselist {
    width: 53vw
  }
}
@media only screen and (min-width: 1920px) {
  .courselist {
    width: 56vw
  }
}
.coursefull{
width: 100%;
}
.courseMedium{
width: 19.25vw;
}
@media only screen and (min-width: 1536px)and (max-width: 1919px) {
  .courseMedium {
    width: 14.8vw
  }
}
@media only screen and (min-width: 1920px) {
  .courseMedium {
    width: 17.4vw
  }
}
.courseinitial {
  width: 19.06vw;
}


@media only screen and (min-width: 1536px)and (max-width: 1919px) {
  .courseinitial {
    width: 20.7vw
  }
}
@media only screen and (min-width: 1920px) {
  .courseinitial {
    width: 22.06vw
  }
}


.navItemsOverlay::before {
  content: "";
  position: absolute;
  width: 99.7vw;
  height: 100vh;
  background: rgb(0 0 0 / 20%);
}

.directions{
background: #1919F015 0% 0% no-repeat padding-box;
border-radius: 20px;
opacity: 1;
}
.directions p {
  color: #7298FF;
}

.branchOverlay:hover{
background: #FFFFFF 0% 0% no-repeat padding-box;
box-shadow: 0px 0px 6px #00000029;
border-radius: 8px;
opacity: 1;
}
.navitemsArrow[data-state="open"]{
  transition-delay: 2s;
}
.navitemsArrow[data-state="open"]::after{
    content: '▲';
    position: absolute;
    top: 27px;
    color: #FFFFFF;
    font-size: 34px;
    z-index: 9;
    text-shadow:0px -1px 1px rgb(0 0 0 / 50%);
}
.branchlist{
  width:43.5vw;
  }
  @media only screen and (min-width: 1536px)and (max-width: 1919px) {
    .branchlist {
      width: 54.5vw
    }
    .branchMedium {
      width: 15.8vw
    }
  }

  .branchMedium{
    width: 19.25vw;
    }
    @media only screen and (min-width: 1920px) {
      .branchMedium {
        width: 17.4vw
      }
      .branchinitial {
        width: 16.06vw
      }
      .branchlist {
        width: 57.5vw
      }
    } 