.courseSidebar {
  background: #ffffff;
  box-shadow: 0px 0px 40px -12px #00000040;
}
.courseName {
  background: linear-gradient(135.83deg, #f09819 -18.31%, #ff512f 129.82%);
  border-radius: 6px;
}
.mobileCentre {
  @media (max-width: 639px) {
    box-shadow: 0px 0px 24px -8px #00000040;
    background: #ffffff;
    border-radius: 6px;
    padding-left: 2.326vw;
    padding-right: 2.326vw;
    padding-top: 1.073vh;
    padding-bottom: 1.073vh;
  }
}
.cardShawdow {
  box-shadow: 0px 0px 40px -12px #00000040;
  background: #ffffff;
  border-radius: 6px;
}
