.offlineHeader{
  font-weight: 700;
  font-size: 1.125rem;
  margin-top: 1.875rem;
  margin-left: 3.5rem;
}
.cityNavbar{
  background: #F4F4F4;
}
.activeCity{
  font-weight: 600;
  color: #F09819;
  background: #FFFFFF;
  border-bottom: 3px solid #F09819;
}
.courseCard{
  width: 19.063vw;
  border: 1px solid #C2C2C4;
  background: #FFFFFF;
border-radius: 6px;
}