/* Accordion.module.css */

.accordion {
  background-color: #FFFCF9;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 1rem;
  transition: 0.4s;
  border-radius: 6px;
  color: #454545;
}

.active,
.accordion:hover {
  background-color: #FFFCF9;
}

.panel {
  padding: 0 18px;
  display: none;
  background-color: white;
  overflow: hidden;
}

.panel.active {
  display: block; /* Show panel when active */
}
