// .fulljustify {
//   text-align: justify;
// }
.fulljustify:after {
  content: "";
  display: inline-block;
  width: 100%;
}
#tagline {
  overflow: hidden;
  line-height: 28px; /* vert-center */
}
#choose_para_tab{
  line-height: 2.419vw !important;
  
}
