.activecountry {
  background: linear-gradient(96.77deg, #f09819 -28.03%, #ff512f 134.69%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  border-bottom: 2px solid;
  border-image: linear-gradient(96.77deg, #f09819 -28.03%, #ff512f 134.69%);
  border-image-slice: 1;
}
.branchMobileCard {
  box-shadow: 0px 0px 24px -10px #00000040;
  background: #ffffff;
  border-radius: 12px;
}
