.offlineScrollbar::-webkit-scrollbar{
visibility: hidden;
}
.offlineScrollbar{
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.cardBackground:hover{
  background: #FEF2E7;
  border-left: 2px solid orangered
}

